<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blacksink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Blacksink.Properties.Settings>
            <setting name="StudentNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="StudentPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSyncTime" serializeAs="String">
                <value />
            </setting>
            <setting name="UnitData" serializeAs="String">
                <value />
            </setting>
            <setting name="is_setup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StorageLocation" serializeAs="String">
                <value />
            </setting>
        </Blacksink.Properties.Settings>
    </userSettings>
</configuration>